html, body {
    font-family: "Segoe UI", "Trebuchet MS", "PT Sans", "Helvetica Neue", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.87);
    background-color: #17171b;
    font-size: 0.875rem;
    -webkit-font-smoothing: antialiased;
}

a:hover,
a:focus { text-decoration: none; }

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.sidebar {
    color: rgba(255, 255, 255, 0.87);
    background-color: #17171b;
}

    .sidebar .navbar {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        background: url('../images/logo.png') no-repeat;
        font-weight: bold;
        height: 40px;
        width: 200px;
        margin: 0;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.content {
    padding-top: 1.1rem;
}

.card {
    background-color: #17171b;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 200px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

/*
    Player
*/
.player {
    position: fixed;
    bottom: 0;
    min-height: 3.4375rem;
    width: 100%;
    background-color: black;
}

/*
    Preloader
*/
#loader-spin {
    position: absolute;
    z-index:999!important;
    top: calc(50% - 82px);
    left: calc(50% - 82px);
    width: 164px;
    height: 164px;
    border-radius: 50%;
    perspective: 800px;
}

#loader-spin .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#loader-spin .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 0.5s linear infinite;
    border-bottom: 3px solid #ff9800;
}

#loader-spin .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 0.5s linear infinite;
    border-right: 3px solid #ff9800;
}

#loader-spin .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 0.5s linear infinite;
    border-top: 3px solid #ff9800;
}
