html, body {
    font-family: "Segoe UI", "Trebuchet MS", "PT Sans", "Helvetica Neue", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.87);
    background-color: #17171b;
    font-size: 0.875rem;
    -webkit-font-smoothing: antialiased;
}

a:hover,
a:focus {
    text-decoration: none;
}

pre {
    color: rgba(255, 255, 255, 0.87);
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.sidebar {
    color: rgba(255, 255, 255, 0.87);
    background-color: #17171b;
}

    .sidebar .navbar {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        background: url('../images/logo.png') no-repeat;
        font-weight: bold;
        height: 40px;
        width: 200px;
        margin: 0;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .playlist {
        padding-left: 25px;
    }

    .sidebar .playlist-item {
        color: #d7d7d7;
        cursor: pointer;
    }

    .sidebar .current-playlist-item {
        font-weight: bold;
        text-decoration: underline;
    }

    .sidebar a { color: #d7d7d7; }

    .sidebar a.active { color: white; }

    .sidebar a:hover { color: white; }

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 5px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: gray;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.nav-search-input {
    width: 150px !important;
}

.content {
    padding-top: 1.1rem;
    padding-bottom: 50px;
}

.card {
    background-color: #17171b;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 200px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

/*
    Utility classes
*/
.cursor-pointer {
    cursor: pointer;
}

/*
    Player
*/
.player {
    position: fixed;
    bottom: 0;
    min-height: 65px;
    width: 100%;
    background-color: black;
}

.player-spacer {
    height: 75px;
    width: 100%;
}

/*
    Preloader
*/
.sk-wave {
    margin: 40px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

    .sk-wave .sk-rect {
        background-color: #EF8604;
        height: 100%;
        width: 6px;
        display: inline-block;
        -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
        animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
    }

    .sk-wave .sk-rect1 {
        -webkit-animation-delay: -1.2s;
        animation-delay: -1.2s;
    }

    .sk-wave .sk-rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .sk-wave .sk-rect3 {
        -webkit-animation-delay: -1s;
        animation-delay: -1s;
    }

    .sk-wave .sk-rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .sk-wave .sk-rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }

@-webkit-keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
