@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content">
        @Body
    </div>
    <div class="footer">
        &copy; 2018-2020 MusicX &bull;
        <a href="https://github.com/NikolayIT/MusicX" target="_blank">Open Source System</a> &bull;
        <a href="/termsandconditions">Terms and Conditions</a> &bull;
        <a href="https://www.youtube.com/static?gl=GB&template=terms" target="_blank">YouTube Terms of Service</a> &bull;
        <a href="https://policies.google.com/privacy?hl=en-US" target="_blank">Google Privacy Policy</a>
    </div>
    <div class="player-spacer"></div>
</div>

<div class="player">
    <Player />
</div>
