@inherits BlazorLayoutComponent

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content">
        @(this.Body)
    </div>
</div>

<div class="player">
    <Player />
</div>
