<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MusicX</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <span class="text-xs">Main</span>
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <i class="oi fas fa-home"></i> Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="counter">
                <i class="oi fas fa-play-circle"></i> Counter
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="fetchdata">
                <i class="oi fas fa-music"></i> Fetch data
            </NavLink>
        </li>
    </ul>

    <span class="text-xs">My collection</span>
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="playlists">
                <i class="oi fas fa-list-ul"></i> Playlists
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="likes">
                <i class="oi fas fa-heart"></i> Likes
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
