<div class="font-weight-bold text-center align-middle">
    @if (this.MediaPlayer.CurrentSong == null)
    {
        @:Please play a song.
    }
    else
    {
        @this.MediaPlayer.CurrentSong.Title
    }
</div>
<audio id="playerElement" preload="none" controls style="max-width:100%;">
    <source type="video/youtube" src="https://www.youtube.com/watch?v=5yXSCavX7Ew" />
</audio>

@functions {
    protected override void OnInit()
    {
        this.MediaPlayer.OnChange += this.StateHasChanged;
    }

    protected override void OnAfterRender()
    {
        this.MediaPlayer.Initialize();
    }
}
