@page "/fetchdata"
@inject IApiClient ApiClient

<h1>Songs list</h1>

<p>This component demonstrates fetching data from the server.</p>

<ErrorsList Errors=@this.response?.Errors />

@if (this.songs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Songs</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var song in this.songs)
            {
                <tr>
                    <td>@song.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    ApiResponse<IEnumerable<WeatherForecast>> response;

    IEnumerable<WeatherForecast> songs;

    protected override async Task OnInitAsync()
    {
        this.response = await this.ApiClient.GetWeatherForecasts();
        this.songs = this.response.Data;
    }
}
