@using MusicX.Web.Shared
@page "/fetchdata"
@inject HttpClient Http

<h1>Songs list</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (this.forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Songs</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in this.forecasts)
            {
                <tr>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    WeatherForecast[] forecasts;

    protected override async Task OnInitAsync()
    {
        this.forecasts = await this.Http.GetJsonAsync<WeatherForecast[]>("api/SampleData/WeatherForecasts");
    }
}
