@page "/songslist"
@using MusicX.Common.Models
@using MusicX.Web.Shared.Songs

<h1>Songs list</h1>

<ErrorsList Errors=@this.response?.Errors />

@if (this.songs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Play</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var song in this.songs)
            {
                <tr>
                    <td>@song.SongName</td>
                    <td>
                        @if (!string.IsNullOrWhiteSpace(song.PlayableUrl))
                        {
                            <button onclick="@(() => this.PlaySong(song.PlayableUrl))">Play</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    ApiResponse<IEnumerable<SongListItem>> response;

    IEnumerable<SongListItem> songs;

    protected override async Task OnInitAsync()
    {
        this.response = await this.ApiClient.GetSongsList();
        this.songs = this.response.Data;
    }

    void PlaySong(string url)
    {
        // JsInterop.MediaPlayerSetSource(url);
        JsInterop.MediaPlayerPlay();
    }
}
