@page "/account/logout"

<h1>Logging out...</h1>

@code {
    protected override async Task OnInitializedAsync()
    {
        await this.JsRuntime.DeleteToken();
        this.State.Username = null;
        this.State.UserToken = null;
        this.StateHasChanged();
        this.NavigationManager.NavigateTo("/");
    }
}
