@page "/account/logout"
@inject IUriHelper UriHelper

<h1>Logging out...</h1>

@code {
    protected override async Task OnInitAsync()
    {
        await this.JsRuntime.DeleteToken();
        this.State.Username = null;
        this.State.UserToken = null;
        this.StateHasChanged();
        this.UriHelper.NavigateTo("/");
    }
}
