@page "/account/register"
@using MusicX.Web.Shared.Account

<h1>Register</h1>
<ErrorsList Errors="this.response?.Errors" />
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 my-3">
        <EditForm Model="model" OnValidSubmit="Submit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="input-group mb-3">
                <div class="input-group-prepend w-25">
                    <span class="input-group-text w-100">Email</span>
                </div>
                <InputText class="form-control" @bind-Value="model.Email" />
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend w-25">
                    <span class="input-group-text w-100">Password</span>
                </div>
                <InputText type="password" class="form-control" @bind-Value="model.Password" />
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend w-25">
                    <span class="input-group-text w-100">Confirm Password</span>
                </div>
                <InputText type="password" class="form-control" @bind-Value="model.ConfirmPassword" />
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
        </EditForm>
    </div>
</div>

@code {
    ApiResponse<UserRegisterResponseModel> response;

    readonly UserRegisterRequestModel model = new UserRegisterRequestModel();

    private async Task Submit()
    {
        this.response = await this.ApiClient.UserRegister(this.model);
        if (this.response.IsOk)
        {
            this.NavigationManager.NavigateTo("account/login");
        }
    }
}
